h1{
    font-size: 28px;
    font-weight: 800;

}

#container{
    min-width: 100px;
    min-height: 100px;
    max-width: 960px;
    max-height: 960px;    
    margin: 8px;
    background-color: grey;
    border: 4px solid black;
    display:grid;  
    aspect-ratio: 1;  
}

.grid{    
    background-color: gray;
    min-width: 10px;
    min-height: 10px;          
}
/*.grid:hover{background-color: tomato;}*/
.hover{    
    transition: .4s ease;
}